    /* Filter styles */
    .filterBar {
        border-radius: 10px;
        background-color: blue;
        padding: 10px;
        display: inline-block;
    }
    
     select {
        display: block;
		margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #fff;
    }


	/* Card styles */
	.card {
  		border: 1px solid #ccc;
  		border-radius: 5px;
  		background-color: #f2f2f2;
  		padding: 10px;
  		display: flex;
  		flex-direction: column;
		margin-bottom: 10px;
	}

	.card-content {
  		display: flex;
  		flex-direction: row;
	}

	.card-image {
  		margin-right: 10px;
  		width: 100px;
	}

	.card-text {
  		display: flex;
  		flex-direction: column;
  		justify-content: center;
	}

	.card:hover {
  		cursor: pointer;
        background-color: aquamarine;
	}