@font-face {
	font-family: PublicSans;
	src: url(public_sans/PublicSans-Regular.woff);
}

@font-face {
	font-family: PublicSansBold;
	src: url(public_sans/PublicSans-Bold.woff);
	font-weight: bold;
  }

/* Card styles */
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
	text-align: center;
}

.card {
	border: 1px solid #ebebeb;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
	margin-top: 0px;
}

.card-content {
    position: relative;
	padding-bottom: 10px;
}

.card-image {
	display: block;
	margin: auto;
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin-bottom: 10px;
}

.card-image img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.card-image img:hover {
	filter: brightness(80%);
}

.card-placeholder {
	background-color: #c7c7c7;
	height: 200px;
	width: 100%;
}

.card-text {
	font-family: PublicSans;
	font-size: 14px;
	line-height: 1.5;
	margin-top: 0px;
	text-align: center;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(255, 245, 229);
}

.card-header {
    font-family: PublicSansBold;
    font-size: 16px;
    margin-top: 0;
	font-weight: bold;
}

.image-placeholder {
    background-color: #eee;
    display: flex;
    margin: 5px;
    width: 100%
}



/* Finish tags */
.finish-tag.madeira {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #310d02;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.amburana {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #471304;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.oloroso {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #d80835;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.eucalipto {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #1d380d;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.balsamo {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #2d4b1c;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.barbados-rum {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #2d4b1c;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.cognac {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #2d4b1c;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.jaqueira {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #4d0a0f;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.jamaican-rum {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #2d4b1c;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.px-sherry {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #5f0d4d;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.finish-tag.white-port {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #a9aca6;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}




/* Buttons */
#sort-filter-button {
	cursor: pointer;
}




/* Filter drawer */
.filterBar {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	border-radius: 10px;
	background-color: rgb(253, 226, 167);
	display: inline-block;
	margin-right: 20px;
	height: fit-content;
}

select {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
}

.filterDrawer {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  transition: right 0.5s ease-in-out;
  z-index: 2;
}

.filterDrawer.open {
	right: 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: calc(100% - 300px);
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out;
	z-index: 1;
  }
  
  .filterDrawer.open .overlay {
	opacity: 1;
	visibility: visible;
	z-index: 0;
  }

.overlay.open {
	opacity: 1;
	visibility: visible;
}



/* Text styles */
.pgTitle {
	font-family: PublicSans;
	font-size: 32px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.bodyCopy {
	font-family: PublicSans;
	font-size: 14px;	
}

body {
	background-color: #ece1c8;
}